<div ng-controller="CsasController" ng-cloak>
<h1>Csas#index</h1>
<p>Find me in app/views/csas/index.html.erb</p>

{{controllerName}}


<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>state</th>
    <th>code</th>
  </tr>

  <tr ng-repeat="csa in csas">
    <td>{{csa.id}}</td>
    <td>{{csa.name}}</td>
    <td>{{csa.state}}</td>
    <td>{{csa.code}}</td>

  </tr>

</table>


</div>

